* {
    margin: 0;
    padding: 0;
    outline: 0 !important;
    color: #444444;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block
}

body {
    font: 14px/18px Roboto, sans-serif;
}

.toolbar {
    width: 100%;
    padding: 7px 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #4167b1;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .07), 0 2px 3px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .07), 0 2px 3px rgba(0, 0, 0, .05);
}

.master-container {
    background-color: #f3f1f7
}

.alert-msg {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
    min-height: 10px
}

.big-btn-holder {
    text-align: center
}

.btn-label {
    margin: 5px 0;
    font-size: 13px;
    text-align: center
}

.percent {
    font-size: 28px;
    padding: 20px 0 0 0;
    color: #1a74c1;
}

footer {
    color: #666;
    font-size: 12px;
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    height: 20px;
}
footer a:hover{
    color: #1a74c1;
}
.alert-msg > p {
    margin: 0
}

.alert {
    color: #009467
}

.warning {
    color: #f0c723
}

.error {
    color: #ea555b
}

.b-logo {
    color: #646464;
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    margin-left: 8px;
}

.b-logo {
    color: #646464;
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    margin-left: 8px
}

.b-logo__name {
    cursor: pointer
}

.b-title {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #646464;
    line-height: 29px
}

.b-title:first-letter {
    text-transform: uppercase
}

.l-wrapper {
    height: 100vh;
    cursor: default;
    -webkit-user-select: none
}

.b-button {
    padding: 8px 5px;
    border: 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 3px;

    font-size: 13px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.b-button:hover {
    background-color: #f0f1f6;
    text-decoration: none
}

.b-button-long {
    padding: 10px 15px
}

.b-button-blue {
    border-color: #5564ec;
    color: #4653c4
}

.b-button-blue:hover {
    background-color: rgba(49, 125, 255, .05)
}

.b-button-selected.b-button-blue {
    background-color: #5564ec;
    color: #fff
}

@-webkit-keyframes ripple-effect {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

@keyframes ripple-effect {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

.b-state__content {
    width: 100%;
    padding-top: 40px;
    text-align: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@-webkit-keyframes a-player-load-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes a-player-load-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: silver;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    width: 64px;
    font-size: 14pt;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-transform: uppercase;

}

label + input[type=radio] + label {
    border-left: solid 1px silver;
    padding-left: -1px;
}

input#isDisabled[type=radio]:checked + label[for=isDisabled] {
    background-color: red;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 00px 0px 6px rgba(183, 146, 146, 0.5)

}



.l-wrapper {
    height: 50vh;
}

body {
    font-family: Roboto;
}

.state-1 .alert-msg {
    margin-top: 35px !important;
}

.circle {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(76, 91, 214, 0.9);
    opacity: .9;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    box-shadow: 0 0 35px #303030;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.circle1 {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(53, 63, 149, 0.85);

    opacity: .9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    box-shadow: 0 0 15px #303030;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
a {

    cursor: pointer;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}